<div class="form-group row">
  <div class="col-md-3">
    <%= form.label :diet, 'Dieet wensen', class: 'col-form-label' %>
  </div>
  <div class="col-md-9">
    <%= form.text_area :diet, id: "#{id_stem}_diet", class: 'form-control' %>
    <small class="form-text text-muted">Ben je vegetarisch of ergens allergisch voor? </small>
  </div>
</div>
