<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'leader' %>
      <h2>Bedankt!!</h2>
      <p>We hebben je een mail gestuurd naar <%= @guest.email %>.</p>
      <p>Als de mail er niet binnen een paar minuten is, check dan even je spambox. Ook niet daar? Stuur ons dan even
        een berichtje.</p>
      <p>De mail bevat een linkje die je later kan gebruiken om je RSVP aan te passen.</p>
      <p><%= link_to 'Terug naar de Home pagina', root_path %></p>
    </div>
  </div>
</div>
