<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'leader' %>
      <h2>Welkom terug!</h2>
      <p>Het lijkt er op dat je je al hebt aangemeld. We hebben je een linkje gestuurd zodat je jouw RSVP kan aanpassen.</p>
      <p>Check je mail <pre><%= @guest.email %></pre>. Als hij er niet tussen staat kan het zijn dat hij in de spambox is terecht gekomen.</p>
      <p>Heb écht niks ontvangen? Stuur ons dan even een berichtje.</p>
    </div>
  </div>
</div>
