<p><%= @guest.email_safe_salutation %></p>

<% if @guest.attending %>
  <p>Leuk dat je er bij bent! Tot in Frankrijk.</p>

  <p>Het adres van het chateau is:<br/>
    Chateau de Puissentut<br/>
    Lieu dit Puissentut<br/>
    32120 Homps<br/>
    Frankrijk
  </p>

  <p>Als je je RSVP nog wil aanpassen, kan dat
    via <%= link_to guest_url(@guest) do %> deze link
    <% end %> tot 1 mei. Als je je later bedenkt, kun je dan een e-mailtje sturen?
  </p>


<% else %>
  <p>Jammer dat je er niet bij kan zijn. No hard feelings. Als je je nog bedenkt kan je je tot 1 mei alsnog aanmelden
    via<%= link_to guest_url(@guest) do %> deze link
    <% end %>.
<% end %>

<p>Liefs!</br>
Dirk en Stefanie</p>