<p><%= @guest.email_safe_salutation %></p>

<p>Je hebt je onlangs aangemeld op onze website met dit e-mailadres.</p>

<p>Als je je RSVP wil wijzigen kan dat via <%= link_to guest_url(@guest) do %> deze link<% end %>.


<p>Als je vragen hebt kan dat door dit mailtje te beantwoorden.</p>

<p>Liefs, <br/>
<p>Dirk en Stefanie</p>
