<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>COVID</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Wat doen we als het feest niet door kan gaan door Covid-19?</h2>
        <p>Het kan zijn dat de Covid-19 maatregelen te streng zijn om het feest door te laten gaan. Als dat zo is
          stellen we het feest uit. We houden jullie op de hoogte.</p>
        <p>Wij zijn optimistisch en gaan er gewoon van uit dat we elkaar in Frankrijk weer zien!</p>
      </div>
    </div>
  </div>
</section>
