<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Het Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Welkomstborrel</h2>
        <p class="text-center"><i>18-7-21</i></p>
        <p class="explained">Doordat we in Australië wonen hebben we veel mensen al heel lang niet gezien. We trappen
          het feest af onder
          het genot van een open bar en wat lekkers te eten!</p>
        <p><strong class="secondary">Tijd:</strong> We beginnen aan het einde van de middag/begin van de avond. De
          precieze tijd volgt.
        </p>
        <p><strong class="secondary">Dresscode:</strong> Casual </p>
      </div>
      <div class="col-md-4 text-center">
        <h2>Bruiloft</h2>
        <p class="text-center"><i>19-7-21</i></p>
        <p class="explained">De dag zal bestaan uit een cermonie, diner en een feest tot in de late uurtjes! Alles zal
          buiten rondom het
          chateau plaatsvinden.</p>
        <p><strong class="secondary">Tijd:</strong> We willen iedereen ontvangen aan het einde van middag. De precieze
          tijd volgt.</p>
        <p><strong class="secondary">Dresscode:</strong> Cocktail</p>

      </div>
      <div class="col-md-4 text-center">
        <h2>Poolparty</h2>
        <p class="text-center"><i>20-7-21</i></p>
        <p class="explained">Poh, wat een dag. En wat een nacht! Iedereen is welkom om een duik te nemen in het zwembad,
          te relaxen op een ligstoel en te genieten van de Franse zon. Wij eindigen het festijn met een open bar en
          barbecue.</p>
        <p><strong class="secondary">Tijd:</strong> Iedereen is welkom vanaf het begin van de middag.</p>
        <p><strong class="secondary">Dresscode</strong>: Zwemkleding </p>
      </div>
    </div>
  </div>
</section>
