<section id="questions-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Vragen</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong class="primary">Wat doen we als het feest niet door kan gaan door Covid-19?</strong></br>
          Het kan zijn dat de Covid-19 maatregelen te streng zijn om het feest door te laten gaan. Als dat zo is
          stellen we het feest uit. We houden jullie op de hoogte.
          Wij zijn optimistisch en gaan er gewoon van uit dat we elkaar in Frankrijk  zien!</p>
        <p>
          <strong class="primary">Als ik van de open bar wil genieten, hoe kom ik dan weer terug bij mijn
            accomodatie?</strong><br/>
          Goeie vraag! Wij zouden het jammer vinden als je je in moet houden omdat je nog moet auto rijden. We gaan
          regelen dat er taxi's beschikbaar zijn. Hoe dit precies in z'n werk gaat horen jullie later.</p>
      </div>

      <div class="col-md-6">
        <p>
          <strong class="primary">Moet ik mijn eigen accomodatie regelen?</strong><br/>
          Helaas wel. Bij het chateau horen een aantal kamers en bedden. Deze hebben we gereserveerd voor de familie
          een select
          groepje mensen. In de nabije omgeving zijn behoorlijk wat opties, bijvoorbeeld via
          <a href="https://booking.com">booking.com</a> of <a href="https://airbnb.com">Airbnb.com</a>.</p>
        <p>
          <strong class="primary">Willen jullie cadeaus?</strong><br/>
          Dat je er bij bent is al cadeau genoeg! Als je écht graag iets wil geven, dan lijkt een bijdrage voor de
          huwelijksreis ons wel wat. Hoe klein het ook lijkt, als we meerdere kleine cadeautjes in onze backpack mee op
          huwelijksreis nemen, dan is er geen ruimte meer voor andere dingen.
        </p>
      </div>
    </div>
  </div>
</section>
