<section id="questions-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Vragen</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong class="secondary">Wat doen we als het feest niet door kan gaan door Covid-19?</strong></br>
          We hebben het helaas al één keer moeten uitstellen, van 2021 naar 2022. Als er nog steeds restricties zijn
          tegen die tijd, dan komen we dan met een plan C. We houden jullie op de hoogte.
          Wij zijn optimistisch en gaan er gewoon van uit dat we elkaar in Frankrijk zien!</p>
        <p>
          <strong class="secondary">Als ik van de open bar wil genieten, hoe kom ik dan weer terug bij mijn
            accomodatie?</strong><br/>
          Op de grote dag rijdt er een door ons gehuurde bus van Lectoure via St Clar, Avezan en Tournecoupe naar het
          Chateau en in de avond word je ook weer afgezet. Als je in een van deze plekken slaapt heb je dus een rit en
          kan je drankjes drinken! Voor de andere dagen zijn er lokale taxi's beschikbaar mocht je dat willen.</p>
        <p>
          <strong class="secondary">Hoe kan ik jullie ceremoniemeesters bereiken?</strong><br/>
          Via dirkenstefaniegaantrouwen@gmail.com kun je Marlies en Claartje bereiken. Wij kunnen zelf niet bij deze
          mailbox, dus als je een vraag hebt die je voor ons geheim wil houden kan dat je die bij hen kwijt. </p>
      </div>

      <div class="col-md-6">
        <p>
          <strong class="secondary">Moet ik mijn eigen accomodatie regelen?</strong><br/>
          Helaas wel. Bij het chateau horen een aantal kamers en bedden. Deze hebben we gereserveerd voor de familie en
          een select
          groepje mensen. Op de grote dag rijdt er een door ons gehuurde bus van Lectoure via St Clar, Avezan en Tournecoupe naar het
          Chateau en in de avond word je ook weer afgezet. Als je in een van deze plekken slaapt heb je dus een rit en
          kan je drankjes drinken! We hebben jullie een mail gestuurd met mogelijke accomodatie.</p>
        <p>
          <strong class="secondary">Willen jullie cadeaus?</strong><br/>
          Dat je er bij bent is al cadeau genoeg! Als je écht graag iets wil geven, dan lijkt een bijdrage voor de
          huwelijksreis ons wel wat. Hoe klein het cadeau ook lijkt, als we meerdere kleine cadeautjes in onze backpack
          mee op huwelijksreis nemen, dan is er geen ruimte meer voor andere dingen.
        </p>
        <p>
          <strong class="secondary">Zijn kinderen welkom?</strong><br/>
          Nee, sorry. Ookal willen we jullie kinderen graag weer zien of ontmoeten, onze bruiloft is alleen voor
          volwassenen.
        </p>
      </div>
    </div>
  </div>
</section>
