<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Het Chateau</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Hoe kom ik bij Chateau de Puissentut?</h2>
        <p>Al onze bruiloftsfestiviteiten vinden in en rondom het Chateau plaats.
          Maar hoe kom je daar eigenlijk? </p>
      </div>
      <div class="col-md-6 text-center">
        <h2><%= render partial: 'car_svg' %></h2>
        <p>Vanaf Groningen is het ongeveer 1300 km rijden. Deze route is door/langs Parijs. De stad van de liefde,
          toeval?</p>
      </div>
      <div class="col-md-6 text-center">
        <h2><%= render partial: 'plane_svg' %></h2>
        <p>Het dichtsbijzijnde vliegveld is Toulouse-Blagnac. Ongeveer 1 uur en 45 minuten vliegen vanaf Schiphol.
          Hier kan je een auto huren. Het is dan nog een uurtje rijden naar de bruiloft locatie.</p>
      </div>
    </div>
  </div>
</section>
