/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@font-face {
  font-family: 'Real Kindly';
  src: url('/../fonts/RealKindly.ttf')
}


$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif;
$font-family-serif: Arvo, Georgia, "Times New Roman", Times, serif;

$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

$body-color: rgba(28, 13, 10, 0.7);
$headings-color: rgba(28, 13, 10, 0.7);

$theme-colors: (
        "primary": #C39329,
        "secondary": #4D7656
);

$enable-rounded: false;

@import "bootstrap";
@import "guests";
@import "welcome";

h1 {
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 0.0833333em;
  font-family: "Real Kindly", sans-serif;
  .crazyhearts {
    font-family: "Crazy Hearts", sans-serif;
    color: theme-color("secondary");
    font-size:69px;
  }
}

h2 {
  color: theme-color("primary");
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.0833333em;
  text-transform: uppercase;

  svg {
    fill: theme-color("secondary");
    margin: 20px auto;
    height: 50px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.wedding-cta-btn {
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0.75rem 1.5rem;
}

.wedding-required {
  color: theme-color("primary");
}
