// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Real Kindly';
  src: url('/RealKindly.ttf')
}

@font-face {
  font-family: 'Crazy Hearts';
  src: url('/CrazyHearts.otf');
}

#welcome-index-leader {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
  image-url("foto-dirk-en-steef.JPG") center center no-repeat;
  background-size: cover;
  height: 620px;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    font-family: "Real Kindly", sans-serif;
    text-transform: capitalize;
    margin-top: 100px;
    font-size: 100px;
    @media (max-width: 768px) {
      margin-top: 50px;
      font-size: 75px;
    }

    .crazyhearts {
      font-family: "Crazy Hearts", sans-serif;
      color: theme-color("primary");
      font-size: 69px;
    }
  }

  .leader-date {
    font-size: 17px;
    letter-spacing: 4px;
    padding: 12pt;
    text-transform: uppercase;
  }
}

#welcome-index-when-where {
  h1 {
    font-family: "Real Kindly", sans-serif;
    font-size: 100px;
    @media (max-width: 768px) {
      margin-top: 50px;
      margin-bottom: 40px;
      font-size: 60px;
    }

    .crazyhearts {
      font-family: "Crazy Hearts", sans-serif;
      color: theme-color("secondary");
      font-size: 69px;
      @media (max-width: 768px) {
        font-size: 50px;
      }
    }
  }

  a {
    color: theme-color("secondary");
    text-decoration: underline;
  }
}


#welcome-index-venue-leader1 {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
  image-url("puissentut2.png") center center no-repeat;
  background-size: cover;
  margin-top: 5 * $spacer;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }
}

#welcome-index-venue-leader2 {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
  image-url("puissentut.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 5 * $spacer;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }
}

#welcome-index-venue-leader3 {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
  image-url("puissentut3.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 5 * $spacer;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }
}

#welcome-index-venue-leader4 {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
  image-url("puissentut4.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 5 * $spacer;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }
}

#welcome-index-venue {
  h2 {
    padding-top: 3 * $spacer;
    padding-bottom: $spacer;
    text-align: center;
    color: theme-color("secondary");
  }

  svg {
    fill: theme-color("secondary");
  }

  h3 {
    color: theme-color("secondary");
  }

  p {
    text-align: justify;
  }
}

#welcome-index-wedding-plan-leader {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
  image-url("theplan.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 5 * $spacer;

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }
}

#welcome-index-wedding-plan {
  i {
    font-size: 20px;
  }

  h2 {
    color: theme-color("secondary");
    padding-top: 3 * $spacer;
    padding-bottom: $spacer;
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

#welcome-index-footer {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
  image-url("dirkensteefwijn.jpeg") center center no-repeat;
  background-size: cover;
  margin-top: 5 * $spacer;

  #welcome-index-footer-cta {
    padding-top: 8 * $spacer;
    padding-bottom: 3 * $spacer;
  }

  #welcome-index-footer-credits {
    padding-top: 5 * $spacer;
    padding-bottom: 3 * $spacer;

    small {
      color: rgba(28, 13, 10, 0.4);
    }
  }
}

@media screen and (min-width: 993px) {
  .explained {
    min-height: 125px;
  }
}

.primary {
  color: theme-color("primary");
}

.secondary {
  color: theme-color("secondary");
}

#questions-leader {
  background: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)),
  image-url("vragen.jpg") center center no-repeat;
  background-size: cover;
  margin-top: 5 * $spacer;

  a {
    color: theme-color("secondary");
  }

  * {
    color: rgba(255, 255, 255, 0.95);
  }

  h1 {
    padding: 3 * $spacer 0;
  }

}